body{
    background-color: #e5e1cd;
  }

  header {
    background-color: #f7bbe7;
    text-align: center;
    border: 4px solid #ba2173;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

header h1 {
    color: #ba2173;
    flex: 1;
    font-size: 50px;
}

header img {
    width: 10%;
    margin-right: 5%;
    border: 2px solid #ba2173;
    padding: 5px;
    border-radius: 10px;
}

nav{
    background-color: #e2bbf7;;
    border: 2px solid #831fb2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #831fb2;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #831fb2;
    color: #ffffff;
}

main h1 {
    color: #0c3f6e;
}

#inicio {
    background-color: #9bd5ee;
    margin: 15px auto;
    padding: 15px;
    border: 2px solid #1c4aa6;
    text-align: justify;
}

#recomendaciones{
    background-color: #9bd5ee;
    margin: 15px auto;
    padding: 15px;
    border: 2px solid #1c4aa6;
    text-align: justify;
}

#nav-section{
    text-align: center;
    color:  #1c4aa6;
}

#recomendaciones ol {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 11px;
    list-style-type: none;
}

h3 {
    text-align: center;
    padding-bottom: 10px;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
  }
  
  .book img {
    max-width: 120px;
    height: auto;
    margin-left: 15px;
    border: 2px solid #0f5866; 
    padding: 5px; 
    border-radius: 10px; 
  }

#recomendaciones ol li:nth-child(2n+1) {
    border: 2px solid #0f5866;
    background-color: #71cad0;
}

#recomendaciones ol li:nth-child(2n) {
    background-color: #a3a2ec;
    border: 2px solid #150080;
}

#recomendaciones img {
    max-width: 120px;
    height: auto;
    margin: 15px;
    border: 2px solid #0f5866;
    padding: 5px;
    border-radius: 10px;
    padding-top: 10px;
}

#recomendaciones p {
    text-align: justify; 
    padding-right: 30px;
}

